[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/nerd-tree"]
	path = vim/bundle/nerd-tree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/minibufexplorer"]
	path = vim/bundle/minibufexplorer
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/bundle/neomake"]
	path = vim/bundle/neomake
	url = git@github.com:neomake/neomake.git
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/bundle/vim-eighties"]
	path = vim/bundle/vim-eighties
	url = git@github.com:justincampbell/vim-eighties.git
[submodule "vim/vim-repeat"]
	path = vim/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/vim-test"]
	path = vim/vim-test
	url = git@github.com:janko-m/vim-test.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
