[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/nerd-tree"]
	path = vim/bundle/nerd-tree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/minibufexplorer"]
	path = vim/bundle/minibufexplorer
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
